<header class="post-header">
    <h2 class="post-title"><!--title--></h2>
</header>
<div class="content-main">
    <article class="article">
        <div class="article-header">
            <div class="article-header-thumb">
                <img src="https://graph.facebook.com/v2.3/100000059371774/picture" class="article-author-thumb" alt="">
            </div>
            <div class="article-header-text">
                <a href="/users/92/kimmunsu" class="article-author-name"><!--writer--></a>
                <a href="#" class="article-header-time">
                    <!--create-date-->
                    <i class="icon-link"></i>
                </a>
            </div>
        </div>
        <!--attachment-->
        <div class="article-doc">
            <!--contents-->
        </div>
        <!--preview-->
        <!--post-btn-group-->
    </article>

    <div class="post-comment">
        <div class="post-comment-slipp">
            <p class="post-comment-count"><strong><!--comment-count--></strong>개의 의견</p>
            <div class="post-comment-slipp-articles">
                <!--comments-->
                <!--comment-form-->
            </div>
        </div>
    </div>
</div>
