<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>SLiPP Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../css/styles.css" rel="stylesheet">
    <script defer src="../js/logout.js"></script>

    <style>

        body {
            color: #495057;
            margin: 0;
        }

        .container {
            max-width: 800px;
            margin: 0px auto;
        }

        .post-details {
            margin-top: 20px;
        }

        .card {
            border: none;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .card-header {
            padding: 15px;
            border-bottom: 1px solid #e9ecef;
        }

        .post-title {
            font-size: 28px;
        }

        .post-author {
            font-style: italic;
            color: #6c757d;
        }

        .card-body {
            padding: 20px;
            font-size: 16px;
            line-height: 1.6;
        }

        h2 {
            margin-block-start: 0.2em;
            margin-block-end: 0.4em;
        }


    </style>

</head>

<body>
<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">

            <a href="../index.html" class="navbar-brand">SLiPP</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-search"></i>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <form class="navbar-form pull-left">
                <div class="input-group" style="max-width:470px;">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right" id="userNameClass">
                <li>
                    <a id="userNameButton" style="display: none;"></a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://slipp.net" target="_blank">SLiPP</a></li>
                        <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                    </ul>
                </li>
                <li><a href="../user/list.html"><i class="glyphicon glyphicon-user"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
            <ul class="nav dropdown-menu">
                <li><a href="../user/profile.html"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
                <li class="nav-divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
            </ul>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="../index.html">Posts</a></li>
                <li><a href="../user/form.html" role="button" id="singUpButton" style="display: block;">회원가입</a></li>
                <li><a href="../user/login.html" role="button" id="loginButton" style="display: block;">로그인</a></li>
                <li><a role="button" id="logoutButton" style="display: block;">로그아웃</a></li>
                <li><a href="#" role="button">개인정보수정</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="main">
    <div class="post-details">
        <div class="card">
            <div class="card-header">
                <h2 class="post-title" id="postTitle"></h2>
                <div class="post-author" id="postAuthorInfo"></div>
            </div>
            <div class="card-body" id="postContent"></div>
            <div class="card-body" id="postImage"></div>
        </div>
    </div>
</div>



<!-- script references -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetchPostDetails();
    });

    function fetchPostDetails() {
        var postId = getPostIdFromUrl();
        var apiUrl = "/post/detail?postId=" + postId;

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                displayPostDetails(data);
            })
            .catch(error => {
                console.error('Error fetching post details:', error);
            });
    }

    function getPostIdFromUrl() {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('id');
    }

    function displayPostDetails(post) {
        var postTitleElement = document.getElementById("postTitle");
        var postAuthorInfoElement = document.getElementById("postAuthorInfo");
        var postContentElement = document.getElementById("postContent");
        var postImageElement = document.getElementById("postImage");

        var formattedDate = formatDate(post.date);

        postTitleElement.textContent = post.title;
        postAuthorInfoElement.innerHTML = `
                <i class="icon-add-comment"></i>
                <span class="time">${formattedDate}</span>
                <a href="./user/profile.html" class="author">${post.userName}</a>
            `;
        postContentElement.textContent = post.content;

        // 이미지 데이터 로딩
        // fetch("/post/file?postId=" + post.postId)
        //     .then(response => response.arrayBuffer())
        //     .then(data => {
        //         displayImagePreview(new Uint8Array(data));
        //     })
        //     .catch(error => {
        //         console.error('Error fetching image:', error);
        //     });
    }

    function displayImagePreview(imageData) {
        var postImageElement = document.getElementById("postImage");

        // 이미지 데이터가 있는지 확인
        if (imageData && imageData.length > 0) {
            // 바이트 배열을 ArrayBuffer로 변환
            var arrayBuffer = new Uint8Array(imageData).buffer;

            // ArrayBuffer를 Blob으로 변환
            var blob = new Blob([arrayBuffer], { type: "image/jpeg" });

            // Blob을 이용하여 이미지 URL 생성
            var imageUrl = URL.createObjectURL(blob);

            // 이미지 엘리먼트 생성 및 설정
            var imageElement = document.createElement("img");
            imageElement.src = imageUrl;

            // 이미지 엘리먼트 추가
            postImageElement.appendChild(imageElement);
        } else {
            // 이미지 데이터가 없는 경우 처리 (예: 기본 이미지 표시)
            console.error("Image data is missing.");
        }
    }


    function formatDate(dateString) {
        var date = new Date(dateString);
        var options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' };
        return new Intl.DateTimeFormat('kr-KR', options).format(date);
    }
</script>


<script src="../js/jquery-2.2.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>
</body>
</html>

