<!DOCTYPE html>
<html lang="kr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>400 Bad Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
<div class="container text-center">
    <h1>400 Bad Request</h1>
    <p>죄송합니다. 잘못된 요청으로 인해 서버가 요청을 처리할 수 없습니다.</p>
    <a href="/index.html"><button class="btn btn-primary">홈으로 돌아가기</button></a>
</div>

<!-- script references -->
<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
</body>

</html>