<article class="article">
    <div class="article-header">
        <div class="article-header-thumb">
            <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
        </div>
        <div class="article-header-text">
            <a href="/users/1/자바지기" class="article-author-name"><!--writer--></a>
            <a href="#" class="article-header-time" title="퍼머링크">
                <!--create-date-->
            </a>
        </div>
    </div>
    <div class="article-doc comment-doc">
        <!--content-->
    </div>
    <!--comment-btn-group-->
</article>
